replicas: 2
gcp:
  databaseInstance: ent-baba-dev:europe-west1:baba-db-pg13

ingress:
  domain: .dev.entur.io
  organizations:
    name: timetable-admin-v1-organisations-gcp2
  providers:
    name: timetable-admin-v1-providers-gcp2

auth0:
  entur:
    internal:
      url: https://internal.dev.entur.org/
      audience: https://api.dev.entur.io,https://ror.api.dev.entur.io
    partner:
      url: https://partner.dev.entur.org/
      audience: https://api.dev.entur.io,https://ror.api.dev.entur.io
  admin:
    client:
      id: dXrBh0VYvPEbz3tCTQzSudyde5hK93mL
    domain: ror-entur-dev.eu.auth0.com

oauth2:
  client:
    id: vdyAMoPespPs0I21uC5eAtqfjDtwOtXq
    url: https://internal.dev.entur.org/oauth/token
    audience: https://api.dev.entur.io

permissionStore:
  url: https://api.dev.entur.io/permission-store/v1

roleAssignment:
  extractor: baba

mail:
  newUserFrom: noreply@entur.org
  link:
    routeDB: https://rutedb.dev.entur.org/
    stopPlace: https://stoppested.dev.entur.org/
    operator: https://operator-test.rutebanken.org/

monitoringEnabled: true
